*/bin/*
bin/

*.class

# Package Files #
*.jar
*.war
*.ear


# Eclipse
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/

# Intellij
.idea/
*.iml
*.iws
out/

# VSCode
.vscode/

# Mac
.DS_Store

# Maven
log/*
target/

# Gradle
.gradle/

spring-openid/src/main/resources/application.properties
.recommenders/
/spring-hibernate4/nbproject/

spring-all/*.log

SpringDataInjectionDemo/.mvn/wrapper/maven-wrapper.properties

spring-call-getters-using-reflection/.mvn/wrapper/maven-wrapper.properties

spring-check-if-a-property-is-null/.mvn/wrapper/maven-wrapper.properties
*.springBeans

20171220-JMeter.csv

.factorypath
dependency-reduced-pom.xml
*.so
*.dylib
*.dll

xml/src/test/resources/example_dom4j_new.xml
xml/src/test/resources/example_dom4j_updated.xml
xml/src/test/resources/example_jaxb_new.xml
core-java-io/hard_link.txt
core-java-io/target_link.txt
core-java/src/main/java/com/baeldung/manifest/MANIFEST.MF
ethereum/logs/
jmeter/src/main/resources/*-JMeter.csv
ninja/devDb.mv.db

**/node_modules/
**/dist
**/tmp
**/out-tsc
**/nbproject/
**/nb-configuration.xml


persistence-modules/hibernate5/transaction.log
apache-avro/src/main/java/com/baeldung/avro/model/
jta/transaction-logs/
software-security/sql-injection-samples/derby.log
spring-soap/src/main/java/com/baeldung/springsoap/gen/
/report-*.json
transaction.log
*-shell.log

apache-cxf/cxf-aegis/baeldung.xml
apache-fop/src/test/resources/input.xml
apache-fop/src/test/resources/output_herold.pdf
apache-fop/src/test/resources/output_html2fo.pdf
apache-fop/src/test/resources/output_jtidy.pdf


# Projects #
akka-http/
akka-streams/
algorithms-genetic/
algorithms-miscellaneous-1/
algorithms-miscellaneous-2/
algorithms-miscellaneous-3/
algorithms-miscellaneous-4/
algorithms-miscellaneous-5/
algorithms-miscellaneous-6/
algorithms-searching/
algorithms-sorting/
algorithms-sorting-2/
animal-sniffer-mvn-plugin/
annotations/
antlr/
apache-avro/
apache-beam/
apache-bval/
apache-curator/
apache-cxf/
apache-fop/
apache-geode/
apache-meecrowave/
apache-olingo/
apache-opennlp/
apache-poi/
apache-pulsar/
apache-rocketmq/
apache-shiro/
apache-solrj/
apache-spark/
apache-tapestry/
apache-thrift/
apache-tika/
apache-velocity/
apache-zookeeper/
asciidoctor/
asm/
atomikos/
atomix/
aws/
aws-app-sync/
aws-lambda/
aws-reactive/
axon/
azure/
bazel/
blade/
bootique/
cas/
cdi/
checker-plugin/
clojure/
cloud-foundry-uaa/
code-generation/
core-groovy/
core-groovy-2/
core-groovy-collections/
core-java-modules/
core-kotlin-modules/
core-scala/
couchbase/
custom-pmd/
custom-pmd-0.0.1.jar
dagger/
data-structures/
ddd/
ddd-modules/
deeplearning4j/
disruptor/
dozer/
drools/
dropwizard/
dubbo/
eclipse/
ethereum/
feign/
flyway-cdi-extension/
geotools/
google-cloud/
google-web-toolkit/
gradle/
gradle-5/
gradle-6/
grails/
graphql/
grpc/
guava/
guava-collections/
guava-collections-map/
guava-collections-set/
guava-io/
guava-modules/
guest/
guice/
hazelcast/
helidon/
httpclient/
httpclient-simple/
hystrix/
image-processing/
immutables/
intelliJ/
jackson-modules/
jackson-simple/
jgit/
jgroups/
jhipster/
jhipster-5/
jib/
jjwt/
jsoup/
jta/
jws/
kaniko/
kotlin-js/
kotlin-libraries/
kotlin-libraries-2/
kotlin-quasar/
lagom/
language-interop/
libraries/
libraries-2/
libraries-3/
libraries-4/
libraries-5/
libraries-6/
libraries-apache-commons/
libraries-apache-commons-collections/
libraries-apache-commons-io/
libraries-concurrency/
libraries-data/
libraries-data-2/
libraries-data-db/
libraries-data-io/
libraries-http/
libraries-http-2/
libraries-io/
libraries-primitive/
libraries-rpc/
libraries-security/
libraries-server/
libraries-server-2/
libraries-testing/
linkrest/
linux-bash/
logging-modules/
lombok/
lombok-custom/
lucene/
machine-learning/
mapstruct/
maven-all/
maven-archetype/
maven-java-11/
maven-polyglot/
mesos-marathon/
metrics/
micronaut/
microprofile/
msf4j/
muleesb/
mustache/
mybatis/
netflix-modules/
netty/
ninja/
oauth2-framework-impl/
open-liberty/
optaplanner/
orika/
osgi/
parent-java/
parent-kotlin/
pdf/
performance-tests/
persistence-modules/
play-framework/
pmd/
podman/
protobuffer/
quarkus/
quarkus-extension/
rabbitmq/
raml/
ratpack/
reactor-core/
resteasy/
restx/
rsocket/
rule-engines/
rxjava-core/
rxjava-libraries/
rxjava-observables/
rxjava-operators/
slack/
software-security/
spark-java/
spf4j/
static-analysis/
stripe/
structurizr/
struts-2/
tensorflow-java/
terraform/
testing-modules/
twilio/
twitter4j/
undertow/
vaadin/
vavr/
vavr-2/
vertx/
vertx-and-rxjava/
video-tutorials/
vraptor/
webrtc/
wicket/
xstream/
